.logo {
  max-width: 100%;
  height: auto;
  padding-bottom: 5px;
}
a {
  color: #46085d;
}

nav {
  font-family: 'Roboto', Helvetica, Arial;
  text-decoration: none;
}

nav ul li {
    display: block;
    /*border-top: 1px #46085d solid;*/
}

nav a {
    color: #46085d;
    display: block;
    width: auto;
    text-decoration: none;
    padding: 20px 30px;
}

.dropbtn {
  font-size: 16px;
  color: #46085d;
  display: block;
  width: auto;
  font-family: 'Roboto', Helvetica, Arial;
  text-decoration: none;
  padding: 20px 30px;
}

.dropbtn:hover  {
  background-color: #C0C0C0;
}

.dropbtn1 {
  font-size: 16px;
  color: #46085d;
  display: block;
  width: auto;
  font-family: ''Roboto'', Helvetica, Arial;
  text-decoration: none;
  padding: 20px 30px;
}

.dropbtn1:hover {
  background-color: #C0C0C0;
}

.dropbtn2 {
  font-size: 16px;
  color: #46085d;
  display: block;
  width: auto;
  font-family: 'Roboto', Helvetica, Arial;
  text-decoration: none;
  padding: 20px 30px;
}

.dropbtn2:hover {
  background-color: #C0C0C0;
}

.dropdown-content {
    display: none;
    font-size: 14px;
    position: absolute;
    background-color: #dcddde;
    min-width: 160px;
    overflow: auto;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    font-family: 'Roboto', Helvetica, Arial;
    text-decoration: none;
    display: block;
}

.dropdown-content1 {
    display: none;
    font-size: 14px;
    position: absolute;
    background-color: #dcddde;
    min-width: 160px;
    overflow: auto;
}

.dropdown-content1 a {
    color: black;
    padding: 12px 16px;
    font-family: 'Roboto', Helvetica, Arial;
    text-decoration: none;
    display: block;
}

.dropdown-content2  {
    display: none;
    font-size: 14px;
    position: absolute;
    background-color: #dcddde;
    min-width: 160px;
    overflow: auto;
}

.dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    font-family: 'Roboto', Helvetica, Arial;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #dcddde}

.dropdown1 a:hover {background-color: #dcddde}

.dropdown2 a:hover {background-color: #dcddde}

.show {display:block;}

.show1 {display:block;}

.show2 {display:block;}

header {
    display: flex;
    flex-flow: row;
    background-color: #dcddde;
    margin: 0;
    padding: 0 10px;
}

.menu-trigger {
    order: 1;
    font-size: 1.75em;
}

nav ul {
    display: none;
}

.image-text {
   /*position: relative;*/
   width: 100%; /* for IE 6 */
}

.deck {
  color: #000;
  font: 1em 'Martel', serif;
  margin-top: 0;
  margin-bottom: 15px;
}

.row1 {
  color: #000;
  font: 1em 'Martel', serif;
  margin-top: 0;
  margin-bottom: 15px;
}

p {
  color: #000;
  font: .8em 'Martel', serif;
  margin-top: 0;
  margin-bottom: 15px;
}

h1 {
  /*display: flex;
  margin: 0 auto;*/
  color: #46085d;
  font: 2em 'Roboto', Helvetica, sans-serif;
  padding-bottom: .2em;
  width: 80%
}


h2 span {
  width: 80%;
  color: #46085d;
  font: 1em 'Roboto', Helvetica, sans-serif;
  /*display: flex;
  margin: 0 auto;*/
  /*width: 100%;*/
   /*background: rgb(0, 0, 0); /* fallback color */
   /*background: rgba(0, 0, 0, 0.7);*/*/
}

h2 {
  /*display: flex;
   margin: 0 auto;*/
   top: 30%;
   left: 0;
   width: 80%;
}


h3 {
  width: 80%;
  color: #46085d;
  font: 1em 'Roboto', Helvetica, sans-serif;

}

h4 {
  color: #000;
  font: 15px 'Roboto', Helvetica, sans-serif;
  text-align: center;
  margin: 2px 0;
}
.footer {
  color: #dcddde;
  font: italic 10px 'Martel', serif;
  margin: 2px 0;
  text-align: center;
}
.ad {
  max-width: 100%;
  height: auto;
  padding: 20px 0;
}

.recent-story {
  max-width: 100%;
  height: auto;
  padding-bottom: 5px;
}

.story-byline {
  margin: 0 auto;
  width: 100%;
  color: #000;
  font: italic 1em 'Martel', serif;
  margin-top: .5em;
}

.byline-date {
  margin: 0 auto;
  width: 100%;
  color: #000;
  font: italic 12px 'Martel', serif;
  margin-top: .5em;
}


hr {
 display: block;
 margin-top: 0;
 margin-bottom: 5px;
 margin-left: auto;
 margin-right: auto;
 border-style: inset;
 border-width: 1px;
}


.twitter-timeline {
  margin-bottom: 20px;
}

hr {
  size: 1px;
  color: #dcddde;
}

.list-photo {
  /*display: flex;
  margin: 0 auto;*/
  width: 100%;
  display: block;
}

.story-list {
  /*display: flex;
  margin: 0 auto;*/
  /*width: 100%;*/
  color: #46085d;
  font: 2em 'Roboto', Helvetica, sans-serif;
}

.main-photo {
  display: flex;
  width: 80%;
  /*margin: 0 auto;*/
  padding: .5em;

}

.sidebar{
  float: right;
}

.sub-photo {
    display: flex;
	   width: 70%;
     /*margin: 0 auto;*/
	  height: auto;
    padding: .5em;
}

/***************ENTERING THE MEDIA QUERY ZONE!!!!!!!!!!!!!!!!!!!!!*********/
/***************ENTERING THE MEDIA QUERY ZONE!!!!!!!!!!!!!!!!!!!!!*********/

@media screen and (min-width: 1100px) {

    .container {
        width: 80%;
        margin: 0 auto;
    }

  .main{
      width: 70%;
      float: left;
    }

  .sidebar{
    width: 30%;
    float: right;
    /*padding-right: 2em;*/
  }

  h1 {
      font: 3.5em 'Roboto', Helvetica, sans-serif;
      width: 80%;
      /*margin: 0 auto;*/
  }
  h2 span {
    width: 80%;
    color: #46085d;
    font: 1em 'Roboto', Helvetica, sans-serif;}

  .story-list {
    /*display: flex;
    margin: 0 auto;*/
    /*width: 100%;*/
    color: #46085d;
    font: 1em 'Roboto', Helvetica, sans-serif;
  }

  h2 {
      font: 1em 'Roboto', Helvetica, sans-serif;
      width: 80%;
      /*margin: 0 auto;*/
  }

  h3 {
    width: 80%;
    font: 1.5em 'Roboto', Helvetica, sans-serif;;
    /*margin: 0 auto;*/
    }

    .story-byline {
      margin: 0 auto;
      width: 100%;
      color: #000;
      font: italic 1em 'Martel', serif;
      margin-top: .5em;
    }

    p {
      font-size: 1em;
      width: 80%;
        /*margin: 0 auto;*/
    }

  .image-text {
   position: relative;
   width: 80%; /* for IE 6 */
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        border-top: none;
    }

    .menu-trigger {
        display: none;
    }

    .hidden {
      display: block;
    }

    .hidden1 {
      display: block;
    }

    .hidden2 {
      display: block;
    }

    header h1 {
        order: 1;
    }

    nav {
        order: 2;
    }
    .list-photo {
      width: 80%;
      /*margin: 0 auto;*/
      /*width: 50%;*/

    }
  }
