img {
  max-width: 100%;
  height: auto;
  padding-bottom: 5px;
}

a {
  color: #46085d;
}

/*Strip the ul of padding and list styling*/
ul {
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
}

/*Create a horizontal list with spacing*/
li {
	display:inline-block;
	float: left;
	margin-right: 1px;
}

/*Style for menu links*/
li a {
	display:block;
	min-width:140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: 'Roboto', Helvetica, sans-serif;
	color: #46085d;
	background: #dcddde;
	text-decoration: none;
}

/*Hover state for top level links*/
li:hover a {
  color: #fff;
	background: #46085d;
}

/*Style for dropdown links*/
li:hover ul a {
	background: #dcddde;
	color: #46085d;
	height: 40px;
	line-height: 40px;
}

/*Hover state for dropdown links*/
li:hover ul a:hover {
	background: #fff;
	color: #46085d;
}

/*Hide dropdown links until they are needed*/
li ul {
	display: none;
}

/*Make dropdown links vertical*/
li ul li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
	display: block;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
	font-family: 'Roboto', Helvetica, sans-serif;
	text-decoration: none;
	color: #fff;
	background: #46085d;
	text-align: center;
	padding: 10px 0;
  margin-bottom: 10px;
	display: none;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}


/*Responsive Styles*/

@media screen and (max-width : 760px){
	/*Make dropdown links appear inline*/
	ul {
		position: static;
		display: none;
	}
	/*Create vertical spacing*/
	li {
		margin-bottom: 1px;
	}
	/*Make all menu links full width*/
	ul li, li a {
		width: 100%;
	}
	/*Display 'show menu' link*/
	.show-menu {
    display: flex;
flex-flow: row wrap;
    flex: 100%;
  /* This aligns items to the end line on main-axis */
  justify-content: center;
	}
}

.image-text {
   position: relative;
   width: 100%; /* for IE 6 */
}

.deck {
  color: #000;
  font: 12px 'Martel', serif;
  margin-top: 0;
  margin-bottom: 15px;
}

.row1 {
  color: #000;
  font: 12px 'Martel', serif;
  margin-top: 0;
  margin-bottom: 15px;
}

p {
  color: #000;
  font: 12px 'Martel', serif;
  margin-top: 0;
  margin-bottom: 15px;
}

h1 {
  color: #46085d;
  font: 4.3em 'Roboto', Helvetica, sans-serif;
  margin: 0;
  padding-bottom: 10px;
  position: relative;
  width: 100%
}

h2 {
   position: absolute;
   top: 30%;
   left: 0;
   width: 100%;
}

h2 span {
   color: #fff;
   font: 16px/25px 'Roboto', Helvetica, sans-serif;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
}

h3 {
  color: #46085d;
  font: 16px 'Roboto', Helvetica, sans-serif;
  margin: 2px 0;
}

h4 {
  color: #000;
  font: 15px 'Roboto', Helvetica, sans-serif;
  text-align: center;
  margin: 2px 0;
}
.footer {
  color: #dcddde;
  font: italic 10px 'Martel', serif;
  margin: 2px 0;
  text-align: center;
}
.ad {
  max-width: 100%;
  height: auto;
  padding: 20px 0;
}

.recent-story {
  max-width: 100%;
  height: auto;
  padding-bottom: 5px;
}


.byline-date {
  color: #000;
  font: italic 12px 'Martel', serif;
  margin: 2px 0;
}



hr {
 display: block;
 margin-top: 0;
 margin-bottom: 5px;
 margin-left: auto;
 margin-right: auto;
 border-style: inset;
 border-width: 1px;
}


.twitter-timeline {
  margin-bottom: 20px;
}

hr {
  size: 1pt;
  color: #dcddde;
}


.main-photo {
	width: 95%
}

.sub-photo {
	width: 75%;
	height:auto;
}
